body {
    
  background: rgba(16, 14, 14, 0.851);
  background: linear-gradient(75deg, rgba(54, 31, 31, 0.918) 1%, rgba(147, 134, 98, 0.914) 75%, rgb(195, 184, 162) 100%);
}
.brand {
  padding: 10px;
}


.navbar {
  background-color: rgb(54, 74, 74);
  color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.417);
  
}
.navbar-link {
  color: aliceblue;
}
.card-header {
  color: black;
}

.card-text {
  color: black;
}
.card-title {
  color: black;
}
.bad {
  color: red;
}