*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: rgba(255, 255, 255, 0.29);
}
.container {
  max-width: 60rem;
  padding-top:2rem;
}
.brand {
  padding-right: 10px;
}
.navbar-brand {
  margin-right: 3rem;
  font-size: 1.5rem;
}
.list {
  background-color: aliceblue;
}

.navbar {
  max-width: 80rem;
  background-color: rgb(65, 82, 82);
  color: rgb(249, 224, 224);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.417);
  
}

.card {
  text-align: center;
  opacity: 10;

}
.card-header {
  text-align: center;
  color: black;
}
.header {
  text-align: center;
}

.card-text {
  color: black;
}
.card-title {
  color: black;
}
.bad {
  color: red;
}
.btn {
  border: 1px solid black;
  border-radius: 10px;
}

.nav-link {
  padding: 10px;
  color: #ffffff;
  font-size: 1.2rem;
  
  
  &:hover {
    color: rgb(75, 0, 42);
  }
  &:active {
    color: rgb(0, 255, 55);
  }
  &:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(201, 240, 142);
    border-radius: 1rem;
    box-shadow: .2em .2em .2em rgba(0, 0, 0, 0.443);
  }
    
}


