body {
    
  background: rgba(16, 14, 14, 0.851);
  background: linear-gradient(75deg, rgba(246, 113, 5, 0.332) 1%, rgba(3, 22, 233, 0.252) 85%, rgba(8, 45, 235, 0.304) 100%);
}
.brand {
  padding: 10px;
}


.navbar {
  background-color: rgb(54, 74, 74);
  color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.417);
  
}
.navbar-link {
  color: aliceblue;
}
.card {
  opacity: 10
  0%;
}
.card-header {
  color: black;
}

.card-text {
  color: black;
}
.card-title {
  color: black;
}
.bad {
  color: red;
}
.btn {
  border: 1px solid black;
  border-radius: 10px;
}

a:link {
  color: rgb(229, 116, 17);
}
a:hover {
  color: #000;
}
a:active {
  color: rgb(0, 255, 162);
}