*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: rgba(254, 252, 255, 0.821);
  
}
.welcome {
  width: fit-content;
  margin-top: 1rem ;
  text-align: left;
  font-size: 1.2rem;
  background: linear-gradient(165deg, rgba(197, 244, 255, 0.641) 0%, rgba(135, 205, 226, 0.294) 25%, rgba(245, 195, 237, 0.806) 100%); 
  padding: 2rem;
  border-radius: 10px;

}
.welcome-word {
  font-size: 1.5rem;
  color: rgb(255, 72, 0)
  ;
}
.homePageLogo {
}
.highlighted-text {
  font-size: 1.5rem;
  color: rgb(14, 116, 0);
}

.container {
  max-width: 80rem;
  padding:2rem;
}

.navbar-brand {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.logo {
  padding: 1rem;
}
.list {
  background-color: rgb(220, 239, 255);
}

.navbar {
margin: 1rem;
  background-color: rgb(28, 51, 51);
  color: rgb(249, 224, 224);
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.417);
}
.nav-container {

}

.card {
  align-items: center;
  text-align: left;
  width:fit-content;
  background: rgb(255, 194, 40);
  background: linear-gradient(165deg, rgba(102, 214, 245, 0.29) 0%, rgba(253,29,29,0.0032387955182072714) 50%, rgba(184, 152, 207, 0.562) 100%);
  padding-bottom: 1.6rem;
}
.card-header {
  text-align: left;
  color: black;
}
.header {
  text-align: center;
}

.card-text {
  color: black;
}
.card-title {
  color: black;
}
.bad {
  color: red;
}
.btn {
  color: azure;
  font-size: 1.2rem;
  background-color: rgb(30, 176, 1);
}

.nav-link {
  padding: 10px;
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 30px;
  
  
  &:hover {
    color: rgb(17, 255, 0);
  }
  &:active {
    color: rgb(0, 255, 55);
  }
  &:focus {
    color: rgb(255, 1, 1);
    background-color: rgb(255, 225, 0);
    border-radius: 1rem;
    box-shadow: .2em .2em .2em rgba(0, 0, 0, 0.443);
  }
    
}
.input {
  font-weight: 600;
  font-size: 1.3rem;
  max-width: fit-content;
  
}
.userData {
  font-size: 2rem;
}
.table {
  width: fit-content;
}


